.showPage {
  margin:20px;
}

.navBar{
  background-color: #f2f7f8;
  height: 80px;
  color: #3D9970;
}

.newForm{
  margin: 20px;
}

.indexPage{
  display: flex;
  flex-wrap: wrap;
}

.logo{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}